@{
    ViewBag.Title = "Home Page";
}
<style>
    body{
        background-image: url('../image/Back-ground.jpg');
        background-size: cover;
    }
</style>
<body>
    <center>
        <h1>Welcome to website quản lý sổ lên lớp</h1>
    </center>
</body>